/*estilos generales */

html, body {
	height: 100%;
}

/*modificador de modelo de cajas de css*/

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
}

/*resetear margenes y bordes*/

* {
	margin: 0;
	padding: 0;
}
#principal {
	background-color: #2f2f2f;
}
p {
	color: #fff;
}
h2 {
	color: #fff;
}
#sec1 {
	color: #000;
}
h3 {
	color: #fff;
}
.container {
	width: 90%;
	max-width: 1366px;
	margin: 0 auto;
}

label {
	display: block;
	margin: 10px 0;
	font-size: 0.98rem;
	color: #fff;
}
    /*estilo de botones*/
.btn {
	display: block;
	background-color: #14ff00;
	width: 250px;
	padding: 12px 1em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #14ff00;
}

.btn:hover {
	background-color: transparent;
	color: #fff;
}

.transparent {
	display: inline-block;
	border: 1px solid #00ff64;
	padding: 12px 1em;
	width: 250px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.transparent:hover {
	background-color: #00ff64;
	color: #fff;
}

#tip {
	width: 100%;
}
/*barra de navegacion*/
#logo {
	width: 35%;
}

#navbar {
	background-color: #0235ff;
}

#navegation {
	display: flex;
	justify-content: space-between;
}

#main-nav {
	display: flex;
	list-style: none;
	font-family: 'Lato', sans-serif;
	float: right;
	margin-top: 20px;
}

#main-nav li a {
	color: #fff;
	text-decoration: none;
	padding: 25px 0.9em;
	display: inline-block;
}


#main-nav li a:hover {
	background-color: #07b9ff;
}

#navbar-toggle {
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	top: 35px;
	right: 35px;
	
}

.top {
	display: none;
}

/*pie de pagina*/
#copyRight {
	color: #9f9f9f;
	text-align: center;
	height: 100px;
}
footer {
	background-color: #121018;
}

.games {
	width: 50%;
}


/*estilos de pagina de inicio*/
/*seccion 1*/
article#home > section:nth-child(1) {
	background-image: linear-gradient(rgba(0, 255, 207, 0.68), rgba(59, 255, 4, 0.67)), url(../images/gota-de-agua.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#seccionPrimera {
	height: 100%;
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#seccionPrimera h1 {
	color: #fff;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-family: arial, verdana, sans-serif;
}

#seccionPrimera p {
	color: #fff;
	font-size: 1.5rem;
	padding: 15px 0;
	margin-bottom: 0;
}

#seccionPrimera div {
	text-align: center;
}

#seccionPrimera a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid;
	display: inline-block;
	padding: 12px 2.5em;
	margin: 12px 0 0;
}

#seccionPrimera a:hover {
	background-color: #aeaeae;
	color: #000;
}
/*segunda seccion*/
article > section:nth-child(2) {
	padding: 60px 0;
}

#seccionSegundo {
	display: flex;
	padding: 80px 0;
}
#seccionDos-pre {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	text-align: center;
}

#seccionDos-pre svg {
	color: #13a3db;
	font-size: 2.5rem;
	border: 1px solid;
	border-radius: 50%;
	padding: 40px 4px;
	width: 140px;
	height: 140px;
	margin-bottom: 35px;
}

#seccionDos-pre svg:hover {
	background-color: #149dd2;
}

#seccionSegundo div {
	padding: 0 0.5em;
	align-self: center;
	flex-basis: 60%;
}

#seccionSegundo img {
	flex-basis: 40%;
	max-width: 40%;
	align-self: flex-start;
}
/*seccion tres*/


#seccionTercera {
	display: flex;
}

#seccionTercera.container {
	width: 100%;
	background-color: #020fcc;
	margin-bottom: 80px;
}

#seccionTercera div {
	flex-basis: 50%;
	padding-left: 2em;
	align-self: center;
}
#seccionTercera .transparent {
	display: inline-block;
	border: 1px solid #00ffcf;
	padding: 12px 1em;
	width: 250px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
#seccionTercera .transparent:hover {
	color: #000;
	background-color: #00ffcf;

}

/*seccion cinco*/
#seccionQuinta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

#seccionQuinta img {
	width: 140%;
}
/*seccion cinco*/

article > section:nth-child(6) {
	background-color: #160091;
	padding: 50px 0;
}
#seccionSexta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*estilos de las paginas*/
#video-background {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
    }
    #video-content {
        position: relative;
        z-index: 1;
        color: #fff;
        text-align: center;
        padding: 20px;
    }
#logo {
	width: 35%;
}

#lista-2 {
	list-style: conic-gradient;
	color: #fff;
}

main header {
	background-color: #031e88a3;
	padding: 20px 0;
	margin-bottom: 40px;
	text-align: center;
}

main header h1 {
	font-size: 1.9rem;
	color: #fff;
	text-transform: uppercase;
}

#pages {
	display: flex;
	flex-flow: row wrap;
}

aside {
	flex-basis: 30%;
}

#pages section {
	flex-basis: 70%;
	padding-right: 1em;
	text-align: justify;
	margin-bottom: 50px;
}

aside h3 {
	background-color: #00a7f9;
	padding: 15px 0 12px 0.5em;
	margin-bottom: 20px;
	font-size: 1.20rem;
	font-weight: 100;
}

aside ul {
	list-style: none;
	margin: 0 0 25px 0.5em;
}

aside ul li a {
	text-decoration: none;
	line-height: 1.8;
	color: #4806ff;
}

aside ul li a:hover {
	text-decoration: underline;
	color: #05ffff;
}

#socialMedia {
	margin: 0 0 0px 0.5em;
	font-size: 2.5rem;
}

#socialMedia svg {
	margin-right: 0.8em;
	color: #0b1245;
}

#boletin {
	margin-left: 0.5em;
}

#boletin p {
	font-size: 1rem;
	margin: 12px;
}

#boletin label {
	display: block;
	font-size: 0.95rem;
	font-weight: bold;
	margin-bottom: 12px;
	color: #fff;
}

input#correo {
	display: block;
	width: 100%;
	height: 45px;
	margin-bottom: 12px;
}

#boletin input[type="submit"] {
	background-color: #01ff11;
	display: inline-block;
	padding: 10px 1em;
	color: #fff;
	border: none;
	width: 150px;
	font-size: 0.95rem;
}

.row {
	clear: both;
	overflow: hidden;
	margin-bottom: 22px;
}

.row img {
	float: left;
	width: 40%;
	margin-right: 1em;
	margin-bottom: 12px;
}

form {
	margin-right: 1em;
}

.asterisco {
	color: #ff0000;
}

label {
	display: block;
	margin: 10px 0;
	font-size: 0.98rem;
}

input[type="text"], input[type="email"] {
	display: inline-block;
	width: 100%;
	height: 45px;
	margin: 5px 0;
	border: 1px solid #ccc;
}

textarea#comentario {
	width: 100%;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

input[type="submit"] {
	background-color: #008000;
	display: inline-block;
	padding: 10px 1em;
	width: 100%;
	border: none;
	color: #fff;
	font-size: 1rem;
}
/*media queries*/
@media screen and (max-width: 1199px) {
	body {
		font-size: 0.95rem;
	}
}

/*estilos de viewport cuando tenga un tamaño que oscile entre 960px a 1100px*/

@media screen and (min-width: 960px) and (max-width: 1100px) {

	body {
		font-size: 0.95rem;
	}

	#seccionPrimera h1 {
	font-size: 2.5rem;
}
	#seccionPrimera h1 {
	font-size: 2.5rem;
}
	h2 {
	font-size: 1.3rem;
}
	#seccionTercera img {
	flex-basis: 45%;
	max-width: 45%;
}
#seccionTercera div {
	flex-basis: 55%;
	padding-right: 2em;
}
.col p {
	text-align: center;
}
#pages {
	margin-bottom: 12px;
}
#boletin p {
	font-size: 0.95rem;
}
aside ul li a {
	font-size: 0.95rem;
}
.row {
	margin: 0 1em 25px 0;
}
.row img {
	float: none;
	width: 100%;
}
#pages .row:not(:last-child){
	border-bottom: 1px solid #ccc;
}
.transparent {
	margin-bottom: 30px;
}
.row svg {
	margin-bottom: 20px;
	margin-right: 1em;
}
}

/*estilos de viewport cuando tenga un tamaño que sea igual o menor que 959px*/
@media screen and (max-width: 959px) {
	#seccionPrimera, #seccionSegunda, #seccionTercera, #seccionCuarta, #seccionQuinta {
	flex-direction: column;
}

	#navegation {
	display: block;
}
	#main-nav {
	display: none;
	flex-direction: column;
}
	#navbar-toggle {
	display: block;
}
	#main-nav li a {
	display: block;
	padding: 20px 1em;
}
	#main-nav li:not(:last-child) {
	border-bottom: 1px solid #353535;
}
	#main-nav li:last-child {
	display: none;
}
.top {
	background-color: #000;
	color: gold;
	padding: 12px 0;
	font-size: 0.85rem;
	display: block;
}
.top ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
#seccionPrimera h1 {
	font-size: 1.25rem;
}
#seccionSegundo, #seccionTercera, #seccionCuarta, #seccionquinta {
	flex-direction: column;
}
#seccionSegundo div, #seccionTercera div {
	padding: 0;
	align-self: normal;
	flex-basis: 100%;
	text-align: center;
}
.btn, .transparent {
	width: 100%;
}
.transparent {
	margin-bottom: 20px;
}
#seccionSegundo img, #seccionTercera img {
	display: none;
}
#seccionTercera.container {
	width: 90%;
	padding: 20px 0;
}
article > section:nth-child(4) {
	text-align: center;
	padding: 35px 0 12px 0;
}
#seccionCuarta {
	margin: 35px auto;
}
.col {
	margin: 20px 0.9em 30px;
	border: 1px solid #ffd43b;
	padding: 30px 2em;
}
.col p {
	text-align: center;
}
#seccionQuinta {
	text-align: center;
}
/*estilos al resto de paginos*/
#pages section {
	flex-basis: 100%;
	padding-right: 0;
}
aside {
	flex-basis: 100%;
}
.row img {
	float: none;
	width: 100%;
}
#pages .row:not(:last-child) {
	border-bottom: 1px solid #ccc;
}
.row svg {
	margin-bottom: 12px;
	margin-right: 1em;
}

}
/*estilos de viewport cuando tenga un tamaño que sea igual o menor que 659px*/
@media screen and (max-width: 659) {
	#PieDePagina {
	flex-direction: column;
	align-items: center;
	text-align: center;
}
}